---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">The <strong>Job Application Toolkit</strong> that gets you interviews</h2>
			<p class="pb-0 text-lg">
				Explore the simple tool designed to streamline your workflow, and enhance productivity.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Pay once, use forever"
				subtitle="Get lifetime access to all our features with a one-time payment. No subscriptions, no hidden fees."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Choose your AI of choice"
				subtitle="Select from a variety of AI models to suit your specific needs and preferences."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Guide the AI with custom instructions"
				subtitle="Set custom instructions to tailor cover letters to your specific needs and preferences."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Refine particular sections in a cover letter"
				subtitle="Easily edit and improve specific sections of your cover letter with by guiding the AI."
				image={feature04}
				link="/features"
			/>
			<Card
				title="Always available"
				subtitle="All generated content is saved and accessible anytime you need it. Even the job description."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
